
.form-control input {
    transition: border-color 0.3s ease;
}

.form-control input:focus,
.form-control input:valid {
    outline: none;
}

.form-control label {
    position: absolute;
    color: white;
    left: 0;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    min-width: 5px;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), color 0.3s ease;
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    transform: translateY(-30px);
}

.form-control input:focus+label .dots::after,
.form-control input:valid+label .dots::after {
    content: '';
    animation: none;
}

.dots::after {
    content: '.';
    display: inline-block;
    animation: dotsAnimation 2s steps(7, end) infinite;
    font-weight: bold;
    margin-left: 4px;
    font-size: 18px;
}

@keyframes dotsAnimation {
    0% {
        content: '';
    }

    15% {
        content: '.';
    }

    30% {
        content: '..';
    }

    45% {
        content: '...';
    }

    60% {
        content: '..';
    }

    75% {
        content: '.';
    }

    100% {
        content: '';
    }
}